.idea/
*.iml
.geany
.classpath
.project
.settings/
*~

bin/
target/
src/logoparsing/**
!src/logoparsing/LogoTreeVisitor.java
!src/logoparsing/SymTable.java
!src/logoparsing/Procedure.java
!src/logoparsing/Function.java
